@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-image: radial-gradient(#ccc 1px, transparent 1px),
        radial-gradient(#ccc 1px, transparent 1px);
        background-position: 0 0, 27px 27px;
        background-attachment: fixed;
        background-size: 54px 54px;
    }
}